@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #323232;
  color: #e4e4e4;
}

body,
button {
  font-family: 'VT323', monospace;
  font-size: 20px;
  letter-spacing: 1.6px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  flex-direction: column;
}

.large-title {
  font-size: 9rem;
}

.start-btn {
  background: none;
  color: #e4e4e4;
  border: 1px solid #e4e4e4;
  font-family: 'VT323', monospace;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 30%;
  text-align: center;
  text-decoration: none;
}

.start-btn:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.main-container {
  margin: 1.5rem auto 1rem;
  width: 90vw;
  max-width: 1250px;
}

.display {
  display: flex;
  flex-direction: column;
  margin: 0.7rem auto;
}

.action-stats {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.action-stats div {
  margin: 0.5rem;
}

.action {
  height: 500px;
}

.stats {
  height: 500px;
}

.game-info {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

.game-info .text {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.player-stats,
.enemy-stats {
  padding-right: 100px;
}

.player-stats hr,
.enemy-stats hr {
  margin: 0.2rem 0;
}

.text hr {
  margin: 1rem 0;
  width: 80%;
}

.progress-btn,
button {
  width: 100%;
  background: none;
  color: #e4e4e4;
  border: 1px solid #e4e4e4;
  font-family: 'VT323', monospace;
  margin-top: 2rem;
  padding: 0.5rem;
}

#health,
#enemy-health {
  background-color: #e4e4e4;
  height: 10px;
  position: relative;
  right: 8px;
}

#player-input {
  color: #e4e4e4;
  background: none;
  font-size: 1.5rem;
  border: 1px whitesmoke solid;
  font-family: 'VT323', monospace;
}

#game-text {
  font-size: 1.6rem;
}

img {
  width: 30%;
}

@media only screen and (max-width: 500px) {
  .game-info {
    flex-direction: column;
  }

  #player-input {
    margin-top: 1.5rem;
  }

  #button-div {
    margin-bottom: 1rem;
  }
}
