@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: whitesmoke;
}

body,
button {
  font-family: 'VT323', monospace;
  font-size: 20px;
  letter-spacing: 1.5px;
}

button:hover {
  cursor: pointer;
}

.main-container {
  margin: 2rem auto 3rem;
  width: 90vw;
  max-width: 1250px;
}

.display {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.action-stats {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.action-stats div {
  margin: 0.5rem;
}

.action {
  height: 500px;
}

.stats {
  height: 500px;
}

.game-info {
  height: 200px;
  margin: 0 0.5rem 0.5rem;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

.game-info .text {
  flex-grow: 1;
  margin-right: 0.5rem;
}
